---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

interface BlogCardProps {
  blog: CollectionEntry<"blog">;
}

const { blog } = Astro.props;
---

<div class="grid-col-1 bg-[#100F10] rounded-xl overflow-hidden p-3 shadow">
    <Image class="rounded-lg overflow-hidden mb-3" src={blog.data.image} width={400} height={200} alt={blog.data.title} />
    <div class="flex flex-col justify-between h-fit gap-y-2">
        <h3 class="font-medium text-lg line-clamp-1">{blog.data.title}</h3>
        <p class="line-clamp-2 text-zinc-500">{blog.body}</p>
        <a class="ml-auto" href={`/blog/${blog.slug}`}>
            <button>Read more</button>
        </a>
    </div>
</div>
