---
import Header from "./Header.astro";
import { Image } from "astro:assets";

import unreal from "../images/unreal.webp"
import champ from "../images/rs6.png"
import radiant from "../images/radiant.webp"
import pred from "../images/pred.webp"
import ultChamp from "../images/uc.png"
---

<main class="h-[90vh] mt-[10vh] flex flex-col justify-center gap-y-10 md:gap-y-0 md:justify-evenly items-center text-white">
    <div class="flex flex-col gap-y-10 text-center w-5/6">
        <Header content="News. for gamers, by gamers." />
        <p class="font-semibold text-lg md:text-2xl"> Level up your gaming experience with breaking news, <br class="hidden md:block"> exclusive insights, and all things gaming. Game on!</p>
    </div>
    <div class="flex md:flex-row flex-col items-center gap-x-24">
        <Image format="avif" quality={80} alt="rank icon" height={100} width={160} class="object-cover rankIcon hidden md:block glow1 z-10" src={unreal} alt="" />
        <Image format="avif" quality={80} alt="rank icon" height={100} width={160} class="object-cover rankIcon hidden md:block glow2 z-0 " src={champ} alt="" />
        <Image format="avif" quality={80} alt="rank icon" height={100} width={160} class="object-cover rankIcon hidden md:block glow3 z-20" src={radiant} alt="" />
        <Image format="avif" quality={80} alt="rank icon" height={100} width={160} class="object-cover rankIcon hidden md:block glow4 z-30 scale-90" src={pred} alt="" />
        <Image format="avif" quality={80} alt="rank icon" height={100} width={160} class="object-cover rankIcon hidden md:block glow5 z-00 scale-90" src={ultChamp} alt="" />
    </div>
    
    <script is:inline>
        const rand = Math.floor(Math.random() * 5)
        const rankIcons = document.querySelectorAll(".rankIcon")
        rankIcons[rand].style.display = 'block'
    </script>